<h2><%= @line.name %></h2>

<p><%= link_to "Edit", edit_line_path(@line), :class => "btn btn-default" %></p>
<p><%= link_to "Delete", line_path(@line),
                         :confirm => "You sure?",
                         :method => "delete",
                         :class => "btn btn-danger" %></p>

<%#= render("layouts/errors", :object => @lines_station) %>
<br>

<p>Assign a station to this route: </p>
<%= form_for(@stop) do |f| %>
  <%= f.hidden_field :line_id, :value => params[:id] %>
  <%= f.collection_select :station_id, Station.all, :id, :name %>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>


<p><%= link_to "Home", lines_path %></p>

